/*
*{
   color:#888 
}
   */

/*


px:pixel exacto, funciona en bordes y no es responsive
em: tamaño del padre, espacios entre elementos, es medio responsive,padding, margin
rem: tamaño del html, se usa en tipografias, si es responsive
%: tamañ del contenedor, se usa en anchos y altos, si es responsive
vw / vh: son el tamaño de la ventana, secciones completas, si es responsive


*/

/*
h2{
    color:red;
}
*/
html{
    font-size: 1.5rem;
}

body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white ;
    color:#333;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content:space-between;

}

header{
    background: linear-gradient(red,blue);
    color:white;
    text-align: center;
    padding: 2em 1em; 
}

h1{
    font-size: 2.5rem;
}

/*
.Grupo1{
    color:blue;
}
*/

.info{
    text-align: center;
    padding: 2em 1em;
    margin:0 auto;
}

.speakers{
    background-color: white;
    padding: 2em 1em
    
}

.speakers h2{
    text-align: center;
    color:blue;
}

.speakers-list{
    margin: 2em auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

/*
.speakers-list > .speaker{
    color:orange;
}
*/
.speaker{
   background-color: aqua; 
   padding:1.5em;
   border-radius:5px;
   width:20%;
   
   
}

.register{
    text-align: center;
    padding:3em 1em;
    background-color: blue;
    color:white;

}

.register button{
    background-color: white;
    color:red;
    font-size: 0.5rem;
    padding:0.8em 2em;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}

footer{
    background-color:gray;
    color:black;
    text-align: center;
    padding:1em ;
    font-size:0.9rem ;
}

#unico{
    background-color: red;
}

input[type]{
    background-color: red;
    border-color: black;
}

input[type="number"]{
    background-color: orange;

}

[id*="i"]{
    background-color: purple;
}

h3 + p{
    color:blue;
}

h3 ~ p{
    color:orange;
}

@media (max-width: 700px) {
    section {
        width: 80%;
    }

    .speakers {
        width: 700px;
        flex-direction: column;
        justify-content: center;
    }

    header {
        color: purple;
    }
}