header {
  background: linear-gradient(135deg, blue, red);
  text-align: center;
  padding: 2em;
  color: white;
}

body {
  margin: 0;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  padding: 1em 1em;
  border: black;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 1em;
  border: 2px solid black;
}

.card-body h5,
.card-body p,
h4 {
  margin: 0; /* elimina el margen por defecto */
}

.card-body {
  padding: 1em;
  margin: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 25px;
}

.card-title{
    font-size: 1.5rem;
}

.Precios{
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, purple,black,gray,rebeccapurple);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moverColor 4s linear infinite;
}

@keyframes moverColor {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}
    


.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6 {
  background: linear-gradient(135deg, #ff416c, #ff4b2b); /* degradado */
  color: white; /* texto blanco */
  border: none; /* sin borde */
  padding: 10px 25px; /* espacio interno */
  border-radius: 30px; /* esquinas redondeadas */
  font-size: 1rem; /* tamaño del texto */
  cursor: pointer; /* cambia el cursor */
  transition: all 0.3s ease; /* animación suave */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra */
}

/* efecto hover (cuando pasas el mouse) */
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover,.btn5:hover,.btn6:hover {
  transform: scale(1.05); /* crece un poco */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3); /* más sombra */
  background: linear-gradient(
    135deg,
    #ff4b2b,
    #ff416c
  ); /* cambia el degradado */
}



footer {
  background: linear-gradient(135deg, blue, red);
  color: white;
  padding: 0.5em;
  margin-top: 2em;
  text-align: center;
}
